{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<div class="p-5 box">
	<h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
	<button type="button" class="btn btn-primary">Купити</button>
</div>
<div class="card p-5 m-5 card-dark">
	<ul>
		<li class="item">1</li>
		<li class="item">2</li>
		<li class="item">3</li>
		<li class="item">4</li>
	</ul>
	<p class="item">First p</p>
	<div class="item">First div</div>
	<p class="item">Second p</p>
	<div class="item">Second div</div>
	<p class="item">Last p</p>
	<div class="item">Last div</div>
</div>
<div class="card p-5 m-5 card-dark">
	<input class="input-dark" required>
	<input class="input-dark" type="number">
</div>
<div lang="fr" class="card p-5 m-5 card-dark">
	<a class="reference" href="#test">Click me</a>
</div>
<div lang="en" id="test" class="card p-5 m-5 card-dark">
	<input>
	<span>Hello world!</span>
	<button>Test button</button>
</div>
<div class="p-5 m-5 card-dark">
	<button>Test button</button>
	<button disabled>Disabled button</button>
</div>
<div class="p-5 m-5 card-dark">
	<input class="inp">
</div>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}