.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(204, 238, 12);
  -webkit-text-stroke: 1px rgb(223, 22, 146);
  direction: rtl;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: xx-small;
  font-weight: 700;
}

.test {
  display: none;
}
